@{
    ViewBag.Title = "Veterinaria";
}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="col-12 registro">
                    <div class="col-lg-6 col">
                        <form action="/Home/Login" method="post">
                            <h2>Iniciar Sesion</h2>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Correo Electronico</label>
                                <input type="email" name="idUsu" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-primary">Ingresar
                            </button>
                        </form>
                        <h4>Si no tienes una cuenta haz clic en REGISTRAR</h4>
                    </div>
                    <div class="col-lg-6 col d-none d-lg-block">
                        <h3>Bienvenido!<br /> Para acceder al catalogo de servicios que poseemos
                        ingrese con su cuenta, sino posee una puede crearla de manera rapida
                        y sencilla.</h3>
                    </div>
                </div>
                <img class="regbanner" src="~/Image/wallpaperVeterianria.jpg" />
            </div>
        </div>
    </div>
    
</section>

