
@{
    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="cont">
    <h2>Bienvenido Administrador</h2>
    <hr />
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="~/Image/doctora.png" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-8">
            <h3>Nombre: ------------</h3>
            <h3>Apellidos Paterno: ------------</h3>
            <h3>Apellidos Materno: ------------</h3>
            <h3>Tipo de Documento: ------------</h3>
            <h3>Numero de Documento: ------------</h3>
            <h3>Celular: ------------</h3>
            <h3>Direccion: ------------</h3>
            <h3>Correo: -----------</h3>
        </div>
    </div>
</div>